<%= csrf_meta_tag %>
<div class="row" id="user-content">
	<ul role="tablist" class="nav nav-pills nav-stacked col-md-2">
		<li role="presentation" class="active">
			<a data-toggle="tab" href="#user-info">Infos</a>
		</li>
		<li role="presentation" >
			<a data-toggle="tab" href="#contents">Contenus</a>
		</li>

		<li role="presentation" >
			<a data-toggle="tab" href="#podcasts">Podcasts</a>
		</li>

		<li role="presentation" >
			<a data-toggle="tab" href="#abonnements">Abonnements</a>
		</li>
	</ul>

	<div style="padding-top:20px;" class="tab-content col-md-10">
		<div id="user-info" class="tab-pane active">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Nom d'utilisateur : <%= @user.name %></h3>
				</div>
				<div class="panel-body">
					<% if signed_in? %>
						<p>Adresse e-mail : <%= @user.email %></p>
						<%= link_to "Modifier mes infos", edit_user_path(current_user), class: "btn btn-primary"%>
					<%end %>
				</div>
			</div>
		</div>
		<div id="contents" class="tab-pane">
			<% if @user.contents.length > 0 %>
				<% @user.contents.all.each do |content| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<%= content_element :title, content.title %>
						</h3>
						</div>
						<div class="panel-body">
							<%= content_element :description, content.description %>
							<p class="center-block">Progression</p>
							<%= progress_bar content.check_progress.to_s %>
							<%= link_to "Voir", content, class: "btn btn-primary" %>
						</div>
					</div>
				<% end %>
			<% else %>
				<p>
					Vous n'avez demandé la transcription d'aucun contenu.<br/>
					<%= link_to "Transcire", transcribe_path, class: 'btn btn-primary' %>
				</p>
			<% end %>
		</div>
		<div id="podcasts" class="tab-pane">
			<% if @user.podcasts.length > 0 %>
				<% content_count = 1 %>
				<% @user.podcasts.all.each do |podcast| %>
					<div class="panel panel-default" id="podcast<%= podcast.id %>">
						<div class="panel-heading">
							<h3 class="panel-title" style="display:inline;">
							<%= podcast.title %>
							</h3>
							<a class="badge pull-right" onclick="unsubscribe('podcast',<%= podcast.id %>,<%= @user.id %>);">Se désabonner</a>
						</div>
						<div class="panel-body">
							<%= content_element :description, podcast.description %>
							<%= content_tag :a, 'Contenus', href: '#contents' + content_count.to_s, :data => { toggle: "collapse" }, class: "btn btn-primary" %>
							<%= tag :div, class: "collapse", id: "contents" + content_count.to_s, style: "padding-top:10px;" %>
						<% if podcast.contents.length > 0 %>
							<% podcast.contents.all.each do |subcontent| %>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><%= subcontent.title %></h4>
									</div>
									<div class="panel-body">
										<%= content_element :description, subcontent.description %>
										<p class="center-block">Progression</p>
										<%= progress_bar subcontent.check_progress.to_s %>
										<%= link_to "Voir", subcontent, class: "btn btn-primary" %>
									</div>
								</div>
							<% end %>
						<%else %>
							<p>
								Aucun contenu pour ce podcast.
							</p>
						<%end %>
						<% content_count += 1 %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
		</div>
		<div id="abonnements" class="tab-pane">
			<% if @user.themes.length > 0 %>
				<% @user.themes.all.each do |theme| %>
				<div class="panel panel-default" id="theme<%= theme.id %>">
					<div class="panel-heading">
						<h3 class="panel-title" style="display:inline;"><%= theme.name %> </h3>
						<a class="badge pull-right" onclick="unsubscribe('theme',<%= theme.id %>,<%= @user.id %>);">Se désabonner</a>
					</div>
					<div class="panel-body">
						<%= content_tag :a, 'Contenus', href: '#themeContent'+theme.id.to_s, :data => { toggle: "collapse" }, class: "btn btn-primary" %>
						<div class="collapse" id="themeContent<%= theme.id %>" style="padding-top:10px;">
						<% search = Content.search do fulltext theme.name end %>
						<% if search.results.length > 0 %>
						<% search.results.each do |subcontent| %>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><%= subcontent.title %></h4>
									</div>
									<div class="panel-body">
										<%= content_element :description, subcontent.description %>
										<p class="center-block">Progression</p>
										<%= progress_bar subcontent.check_progress.to_s %>
										<%= link_to "Voir", subcontent, class: "btn btn-primary" %>
									</div>
								</div>
						<% end %>
						</div>
						<% else %>
							<p>Aucune correspondance</p>
						<% end %>
					</div>
					</div>
				</div>
				<% end %>
			<% else %>
				<p>
					Vous n'êtes abonné à aucun sujet.
				</p>
				<%= link_to "S'abonner", subscribe_path, class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
