<div id="transcribe" class="col-md-5 center-block">
	<ul role="tablist" class="nav nav-tabs">
		<li role="presentation" class="active">
			<a data-toggle="tab" href="#content-form">Contenu</a>
		</li>
		<li role="presentation" >
			<a data-toggle="tab" href="#podcast-form">Podcast</a>
			</li>
		</ul>
		<div class="tab-content text-left">
			<div id="content-form" class="tab-pane active">
				<%= form_for @content do |f| %>
					<div class="field form-group">
						<%= f.text_field :title, class: 'form-control', placeholder: "Titre" %>
					</div>
					<div class="field form-group">
						<%= f.text_field :description, class: 'form-control', placeholder: "Description" %>
					</div>
					<div class="field form-group text-center">
						<%= f.text_field :url, class: 'form-control', placeholder: "Entrez l'URL de votre contenu" %>
					</div>

					<div class="field form-group collapse" id="file_upload_div">
						<%= f.label :file_upload, 'Choisir contenu' %>
						<%= f.file_field :file_upload %>
					</div>

					<div class="text-center" id="toggle_url">
						<a data-toggle="collapse" href="#file_upload_div">Fichier local ? Cliquez ici !</a>
					</div>

					<div class="field form-group">
						<%= f.label :context_file, 'Fichier de contexte (facultatif)' %>
						<%= f.file_field :context_file %>
					</div>

					<div class="actions form-group text-center">
						<%= f.submit "Transcrire !", class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
			<div id="podcast-form" class="tab-pane">
				<%= form_for @podcast do |f| %>
					<div class="field form-group">
						<%= f.text_field :rss_link, class: 'form-control', placeholder: "Entrez l'URL de votre podcast" %>
					</div>

					<div class="actions form-group text-center">
						<%= f.submit "Transcrire !", class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
