<nav class="navbar navbar-default navbar-fixed-top" >
	<div class="container">
		<%= link_to "SubCast", root_path, class: "navbar-brand" %>
		<div class="collapse navbar-collapse" id="navbar-collapsable">
			<ul class="nav navbar-nav ">
				<li>
					<a href="dummy">Rechercher Transcription</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" align="right">
				<% if signed_in? %>
					<p class="navbar-text">
						Ça va bien <%= link_to current_user.name, current_user %> ?
					</p>
					<li>
						<%= link_to "Déconnexion", signout_path %>
					</li>
				<% else %>
					<li>
						<%= link_to "Inscription", new_user_path %>
					</li>
					<li>
						<%= link_to "Connexion", signin_path %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
