<!DOCTYPE html>
<html>
<head>
  <title>SubCast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>SubCast</h1>
	</header>
	<nav id="main_menu" >
		<ul>
			<li>
				<%= link_to "Inscription", new_user_path %>
			</li>
			<li>Connexion</li>
			<li>Rechercher Transcription</li>
		</ul>
	</nav>

<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
